#datetime-picker {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  margin-right: 8px;
  margin-left: 156px;
  margin-top: 36px;
  margin-bottom: 0;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  color: rgb(46, 47, 66);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4%;
  text-align: left;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #cfcfcf;
  border: none;
  margin-left: 0;
  margin-bottom: 0;
}

.timer {
  margin-left: 156px;
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
